---
layout: default
---

<div class="row">
  <div class="slot-0-1-2-3">
    {{ content }}
  </div>
  <div class="slot-4-5">
    <aside>
      <section class="">
        <h1>About</h1>
        <p>Welcome to my blog! I am Bianka, a Hungarian living in Belgium for the past 23 years. Mother to a baby girl, Ella. I love to travel, go for walks, cook, do sports,&hellip; The blog gives you a glimpse of our travels, shares some delicious recipes and fashion inspiration.</p>
      </section>
    </aside>
  </div>
</div
